<div [style.background-color]="getBoardColor()" [class]="getTextColorFromBackground(getBoardColor())"
        class="p-3 fs-3 fw-bolder text-center">
    {{ getBoardName() }}
</div>
<app-dice class="my-auto text-center"></app-dice>
<div [style.background-color]="description.color" [class]="getTextColorFromBackground(description.color)"
        class="p-3 text-center h-50 d-flex align-items-center justify-content-center flex-column">
        <div class="fs-4 fw-bold fst-italic mt-2">
            <div *ngIf="player.color !== ''" class="me-2 d-inline-block rounded-circle"
            style="width: 15px; height: 15px; border: 0.2px solid black;" [style.background-color]="player.color"></div>
            {{ player.name }}
        </div>
        <div class="fs-2 fw-bold my-auto">
            {{ description.text }}
        </div>
</div>