<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container bg-secondary p-3 p-lg-5 rounded">
        <h1 class="text-center fw-bold">Winner of {{ boardName }}</h1>

        <hr class="my-5">

        <div class="card">
            <div class="card-body">
                <div class="position-absolute top-0 end-0 mt-2 me-2 d-inline-block rounded-circle"
                        style="width: 30px; height: 30px;" [style.background-color]="getToken().color_hex"></div>
                <h5 class="card-title">{{ getToken().name }}</h5>
                <p class="card-text">{{ getToken().color_hex }}</p>
            </div>
        </div>
    </div>
</div>